:root {
  --logo-color-1: #cc0000;
  --logo-color-2: #5663F1;
  --logo-color-3: #F8AA36;
  --logo-color-4: #4D9D57;
  --logo-color-5: #BCC6D1;
  --logo-color-6: #4988F2;}
img {
    border-radius: 30px;
}
   h2 {
    font-size: 18px;
   }
   body {
     background: #2E2E2E;
    font-family: Trebuchet MS;
    color: white;
    text-align: center;
   }
   a {
    margin-top: 10px;
    background-color: white;
    transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: rgb(15, 15, 15);
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0,0,0.3);
    font-size: 35px;
    display: inline-block;
    width: var(--width);
   }
   a:hover{
     color: white;
     background-color: rgb(15,15,15);
     transform: scale(1.1);
     i{
      color: rgb(0, 0, 0);
     }

   }
   @keyframes bounce{      
     40%{transform: translateX(0);}
     60%{transform: translateX(0);}
     0%, 20%, 50%, 80%, 100%{transform: translateX(0);}
   }
   button{
     text-align: center;
     text-decoration: none;
     padding: 10px 100px;
     border: none;
     box-shadow: 0 4px 8px rgba(0, 0,0,0.3);
     border-radius: 10px;
     margin-top: 10px;
     transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
   }
   button:hover{
     color: rgb(0, 0, 0);
     background-color: rgb(255, 255, 255);
     transform: scale(1.05);
     cursor: crosshair;
   }
   .click{
    color: rgb(255, 255, 255);
    background-color: rgb(133, 133, 133);
   }
   .clicker{
    margin-top: 100px;
   }
   .upg{
    width: 280px;
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
    padding: 10px;
   }
   html{
    overflow: hidden;
   }
   i{
    color: rgb(157, 157, 157);
    transition: color 0.35s;
   }
   .icon1:hover{ background-color: var(--logo-color-1);}
   .icon2:hover{ background-color: var(--logo-color-2);}
   .icon3:hover{ background-color: var(--logo-color-3);}
   .icon4:hover{ background-color: var(--logo-color-4);}
   .icon5:hover{ background-color: var(--logo-color-5);}
   .icon6:hover{ background-color: var(--logo-color-6);}
