img {
    border-radius: 30px;
   }
   h2 {
    font-size: 18px;
   }
   body {
     background: linear-gradient(rgb(255, 42, 42),rgb(255, 208, 0));
    font-family: Trebuchet MS;
    color: white;
    text-align: center;
   }
   a {
    margin-top: 10px;
    background-color: white;
    transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: rgb(15, 15, 15);
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0,0,0.3);
    font-size: 35px;
    display: inline-block;
    width: var(--width);
   }
   a:hover{
     color: white;
     background-color: rgb(15,15,15);
     transform: scale(1.1);
   }
   @keyframes bounce{      
     40%{transform: translateX(0);}
     60%{transform: translateX(0);}
     0%, 20%, 50%, 80%, 100%{transform: translateX(0);}
   }
   button{
     text-align: center;
     text-decoration: none;
     padding: 10px 100px;
     border: none;
     box-shadow: 0 4px 8px rgba(0, 0,0,0.3);
     border-radius: 10px;
     margin-top: 10px;
     transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
   }
   button:hover{
     color: rgb(0, 0, 0);
     background-color: rgb(255, 255, 255);
     transform: scale(1.05);
   }
   .click{
    color: rgb(255, 255, 255);
    background-color: rgb(133, 133, 133);
   }
   .clicker{
    margin-top: 100px;
   }
   .upg{
    width: var(--upgradewidth);
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
    padding: 10px;
   }
   i{
    margin-right: 15px;
   }